<div class="container mt-3">
    <h2>Order Details</h2>
    <div *ngIf="order">
      <p><strong>Order ID:</strong> {{ order.orderId }}</p>
      <p><strong>Status:</strong> {{ order.orderStatus }}</p>
      <p><strong>Date Placed:</strong> {{ order.datePlaced | date }}</p>
  
      <h3>Items</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Purchased Price</th>
            <th>Quantity</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of order.items">
            <td>{{ item.itemName }}</td>
            <td>{{ item.purchasedPrice | currency:'USD' }}</td>
            <td>{{ item.quantity }}</td>
            <td>
              <a [routerLink]="['admin/product', item.productId]" class="btn btn-primary btn-sm">View Product</a>
            </td>
          </tr>
        </tbody>
      </table>
  
      <button *ngIf="orderStatusCanBeChanged()"  class="btn btn-warning" (click)="cancelOrder()">Cancel Order</button>
      <button *ngIf="orderStatusCanBeChanged()"  class="btn btn-warning" (click)="completeOrder()">Complete Order</button>

    </div>
  </div>
  

