<div class="container mt-3">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Date Placed</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.datePlaced | date }}</td>
          <td>{{ order.orderStatus }}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="cancelOrder(order.orderId)">Cancel</button>
            <a [routerLink]="['/order-detail', order.orderId]" class="btn btn-primary btn-sm">View</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
