<div class="wishlist">
	<div class="d-flex flex-row align-items-center justify-content-between pe-2">
	  <h3 class="sysColor-text text-uppercase fw-bold">Watchlist</h3>
	  <p style="color: gold" class="pt-3">{{ watchlist.length }} Products</p>
	</div>
	<div *ngIf="watchlist.length > 0; else emptyList">
	  <table class="table table-striped">
		<thead>
		  <tr>
			<th scope="col">Name</th>
			<th scope="col">Description</th>
			<th scope="col">Retail Price</th>
			<th scope="col">Quantity</th>
			<th scope="col">Actions</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let wishItem of watchlist">
			<td (click)="goToDetails(wishItem.productId)" style="cursor: pointer;">
			  {{ wishItem.name.substr(0, 14) }} ...
			</td>
			<td>{{ wishItem.description }}</td>
			<td>{{ wishItem.retailPrice | currency: 'USD' }}</td>
			<td>{{ wishItem.quantity }}</td>
			<td>
			  <button class="btn btn-danger btn-sm" (click)="removeFromWishlist(wishItem.productId)">
				<fa-icon [icon]="removeIcon"></fa-icon> Delete
			  </button>
			</td>
		  </tr>
		</tbody>
	  </table>
	</div>
	<ng-template #emptyList>
	  <div class="d-flex flex-column justify-content-center align-items-center mt-5">
		<h4 style="color: rgb(232, 69, 96); font-style: italic; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
		  Wishlist is Empty!
		</h4>
	  </div>
	</ng-template>
  </div>
  