<div class="container mt-5">
    <app-orderslist></app-orderslist>
    
    <h2>Top 3 most frequently purchased items</h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let product of mostFrequentProducts">
        <h5>{{ product.name }}</h5>
        <p>{{ product.description }}</p>
        <p>Quantity: {{ product.quantity }}</p>
      </li>
    </ul>
    
    <h2 class="mt-5">Top 3 most recently purchased items</h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let product of mostRecentProducts">
        <h5>{{ product.name }}</h5>
        <p>{{ product.description }}</p>
        <p>Quantity: {{ product.quantity }}</p>
      </li>
    </ul>
  </div>
